body {
    
    background-color: rgb(185, 240, 240);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#header{
    color: orangered;
    font-family: monospace;
    font-size: 20px;
    background-color:  gainsboro !important;
    z-index: 10;
    position: static !important;
    box-shadow: 0px 5px 5px 0px;
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 140px;
    text-align: center; 
}


#welcome{
    width: 1000px;
    text-align: center;
    color: #333333;
    font-family: monospace;
    font-size: 15px;
    margin : 250px auto;
    align-items: baseline;
    opacity: 0.80;
    justify-content: center ;
    display: flex;  
    flex-flow: row wrap;
}


.buttonStart{
    font-family: monospace;
    font-size: 15px;
    color: #333333;
    border: 2px solid #333333;
    width: 200px;
    padding: 10px;
    cursor: pointer;
    background-color: white;
    margin-bottom: 10px;
    border-radius: 20px;
    outline: none;  
}
.buttonStart:hover{
    background-color: orange;
    color: #333333;
}

.infos {
    text-align: justify;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin : 100px auto;
    padding: 40px;
    height: 1600px;
    width : 600px;
    border-radius: 5px;
    position: relative;
    background-color: white;
    opacity: 0.80;
}

.cipher {
    width: 600px;
    text-align: center;
    font-family: monospace;
    color: #333333;
    font-size: 18px;
    margin : 150px auto;
    padding: 20px;
    align-items: baseline;
    width: 1000px;
    position: relative;
    display: flex;
}

.textareaEn {
    resize: none;
    overflow: auto;
    background-color: white;
    outline: none;
    border-radius: 5px;
    border: none;
    font-family: monospace;
    padding: 30px;
    border: 2px solid #333333;
}

.textareaDec {
    resize: none;
    overflow: auto;
    background-color: rgb(211, 211, 211);
    outline: none;
    border-radius: 5px;
    border: none;
    font-family: monospace;
    padding: 30px;
    border: 2px solid #333333;
    
}

.inputNumber {
    text-align: center;
    background-color: white;
    outline: none;
    border-radius: 20px;
    font-family: monospace;
    font-size: 15px;
    font-style: initial;
    height: 40px;
    width: 80px;
    border: 2px solid #333333;
    float: inline-start;
}

.buttonClean{
    font-family: monospace;
    font-size: 15px;
    background: transparent;
    color: #333333;
    width: 50px;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 10px;
    border: none;
    outline: none;
}

.buttonCopy{
    font-family: monospace;
    font-size: 15px;
    background: transparent;
    color: #333333;
    width: 50px;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 10px;
    border: none; 
    outline: none;
}

.buttonShare{
    font-family: monospace;
    font-size: 15px;
    background: transparent;
    color: #333333;
    width: 50px;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 10px;
    border: none; 
    outline: none;
}

.button{
    font-family: monospace;
    font-size: 15px;
    background: transparent;
    color: #333333;
    cursor: pointer;
    border-radius: 10px;  
    border: none;
    outline: none;
}

.button:hover{
    background-color: rgb(138, 240, 240);
    color: #333333;
}


